[Unit]
Description=Main Streamlit Service
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ScrapingServer/JAN_Yahoo_Rakuten
ExecStart=/home/ScrapingServer/JAN_Yahoo_Rakuten/.venv/bin/streamlit run /home/ScrapingServer/JAN_Yahoo_Rakuten/app.py
Environment="PATH=/home/ScrapingServer/JAN_Yahoo_Rakuten/.venv/bin:$PATH"
Environment="VIRTUAL_ENV=/home/ScrapingServer/JAN_Yahoo_Rakuten/.venv"
Restart=always
RestartSec=10
StandardOutput=append:/var/log/scraper.log
StandardError=append:/var/log/scraper.error.log

[Install]
WantedBy=multi-user.target
